body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

.parallax { 
    /* The image used */
    background-image: url("Armstrong-Redwoods-State-Park.jpg");

    /* Full height */
    min-height: 100%;
    overflow: hidden;

    /* Create the parallax scrolling effect */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hint {
    position: absolute;
    left: 0;
    top: 50vh;
    width: 100%;
    text-align: center;
    color: white;
}

#sheep {
    position: absolute;
    left: 40%;
    top: 70%;
    width:0px;
}