body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  Georgia, serif;
    background-color: rgb(229, 229, 229);
}

.background { 
    /* The image used */
    background-image: url("Armstrong-Redwoods-State-Park.jpg");
    background-size: 100vw 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Create the parallax scrolling effect */
    position: fixed;
}

@media (max-width: 767px) {
    .background {
        background-attachment: initial;
    }
}

.parallax {
    overflow: hidden;
    height: 100vh;
}

#hint {
    position: absolute;
    left: 0;
    top: 50vh;
    width: 100%;
    text-align: center;
    color: white;
}

#sheep {
    position: absolute;
    left: 40%;
    top: 70%;
    width:0px;
    height:0px;
}

#sheep > img {
    position: absolute;
    height:100%;
    width:100%;
    z-index: 0;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF;
    line-height: 1.5em;
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.33);
}

.home_sheep {
    width: 180px;
}


h1 {
    font-style: italic;
}

h2 {
    margin-top: 10px;
}

#headers {
    display: none;
    position: fixed;
    opacity: 0.0;
    text-align: center;
    top: 7%;
    left: 0;
    width: 100vw;
    z-index: 100;
}

#headers > ul {
    list-style-type: none;
    font-size: 20px; 
    line-height: 30px;
}